* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4A90E2;
  height: 64px;
  margin-bottom: 20px;
  padding: 0 42px;
}

#my_profile{
  display: flex;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
}

#my_profile img{
  margin-left: 10px;
}
